<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Menjelajahi berbagai restoran di seluruh dunia dengan Resto Apps" />
    <meta name="theme-color" content="#fcb07c"/>
    
    <link rel="apple-touch-icon" href="/icons/restaurant-256.png">
    <link rel="manifest" href="/app.manifest">

    <title>Resto Apps Starter Project</title>
  </head>

  <style></style>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <drawer-component></drawer-component>
    <!-- <div class="container detail-restaurant">
      <img
        class="detail-restaurant__image-hero"
        src="https://restaurant-api.dicoding.dev/images/medium/41"
        width="100%"
        alt=""
      />
      <div class="detail-restaurant__content">
        <h1 class="detail-restaurant__name">Nama Restaurant</h1>
        <div class="detail-restaurant__rating-lokasi">
          <div class="detail-restaurant__rating">
            <i class="fas fa-star"></i>
            <p>4.5</p>
          </div>
          <div class="detail-restaurant__lokasi">
            <i class="fas fa-map-marker-alt"></i>
            <p>Malang</p>
          </div>
        </div>
        <p class="detail-restaurant__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsum obcaecati ducimus quam labore consequatur
          hic illum architecto voluptate, aperiam harum at dicta possimus cumque dolorum sed a? Possimus, ex.
        </p>

        <div class="detail-restaurant__food-drink">
          <div class="detail-restaurant__food">
            <h3>Makanan</h3>
            <div class="detail-restaurant__food-list">
              <span class="detail-restaurant__food-item">Bakmie</span>
            </div>
          </div>
          <div class="detail-restaurant__drink">
            <h3>Minuman</h3>
            <div class="detail-restaurant__drink-list">
              <span class="detail-restaurant__drink-item">Ice Tea Lemon</span>
            </div>
          </div>
        </div>

        <div class="detail-restaurant__review">
          <h3>Ulasan</h3>
          <div class="detail-restaurant__review-list" id="detail-restaurant-review-list">
            <div class="detail-restaurant__review-item__content">
              <div class="detail-restaurant__review-item__image">ZR</div>
              <h4 class="detail-restaurant__review-item__name">Nama User</h4>
              <p class="detail-restaurant__review-item__date">3 Desember 2022 08:00</p>
            </div>

            <q class="detail-restaurant__review-item__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quae, voluptate, quod, voluptas
              quibusdam voluptates quidem voluptatum quos quia quas nesciunt. Quisquam, quibusdam.
            </q>
          </div>
        </div>

        <div class="detail-restaurant__add-review">
          <h3>Tambahkan Ulasan</h3>
          <form action="" class="detail-restaurant__add-review-form">
            <div class="detail-restaurant__add-review-form__input">
              <label for="name">Nama</label>
              <input type="text" id="name" name="name" />
            </div>
            <div class="detail-restaurant__add-review-form__input">
              <label for="review">Ulasan</label>
              <textarea name="review" id="review" cols="30" rows="5"></textarea>
            </div>
            <button id="button-review" class="button-review">Kirim</button>
          </form>
        </div>
      </div>
      <button class="detail-restaurant__favorite">🤍</button>
    </div> -->

    <main id="maincontent"></main>
    <footer>
      <div class="footer">
        <p>© 2022 Resto Apps</p>
      </div>
    </footer>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </body>
</html>
