<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Menjelajahi berbagai restoran di seluruh dunia dengan Resto Apps" />
    <meta name="theme-color" content="#fcb07c" />

    <link rel="apple-touch-icon" href="/icons/restaurant-256.png" />
    <link rel="manifest" href="/app.manifest" />

    <title>Resto Apps Starter Project</title>
  </head>

  <style></style>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <drawer-component></drawer-component>

    <main id="maincontent" tabindex="0"></main>
    <footer>
      <div class="footer">
        <p>© 2022 Resto Apps</p>
      </div>
    </footer>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </body>
</html>
